@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');

.mainservicediv {
  font-family: 'Poppins', sans-serif;
}

.service-div{
    margin: 0;
    position: relative;
}

.serviceimg{
    width: 98.9vw;
    height: 100vh;
}

.serviceh1{
    position: absolute;
    top: 16em;
    left: 16em;
    text-align: center;
    color: white;
}

.servicehomeh1{
    font-size: 48px;
    /* color: #495057; */
    color: black;
    font-weight: 400;
    margin: 60px 0 30px;
}

.servicep{
    padding: 100px 50px;
}

.servicesubdiv{
    padding: 100px;
    background-color: #f4f7f6;
    margin: 0;
}

.servicesubhomediv{
    padding: 50px;
    background-color: transparent;
    margin: 0;
}

.service-card{
    display: inline-block;
    margin: 20px 20px;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
    transform: scale(1);
    width: 18rem;
    border-radius: 12px;
    color: black;
}

.service-card:hover{
    transform: scale(1.1);
    border-radius: 0;
}

.mmdiv{
    margin: 10px 0 100px;
}

.mmbtn{
    text-transform: uppercase;
    background-color: #212529;
    color: white;
    border-color: #212529;
}

.mmbtn:hover{
    background-color: white;
    color: #212529;
    border: 1px solid #212529;
}

.mmbtn:focus{
    background-color: white;
    color: #212529;
    border: 1px solid #212529;
}























@media only screen and (max-width: 600px) {
    
    .serviceimg{
        width: 100vw;
        height: 60vh;
    }
    
    .serviceh1{
        position: absolute;
        top: 28rem;
        left: 5em;
    }
    
    .servicep{
        padding: 60px 25px;
    }
    
    .servicesubdiv{
        padding: 50px 20px;
        text-align: center;
    }

}